*{
    box-sizing: border-box;
}
#hero-div{
    background-image:url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 550px;
    margin:-8px;
    margin-top: 8px;
}