.card-container{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgb(206, 206, 206);
    position: relative;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
}
.card-img{
    width: inherit;
}
.card-footer{
    position: absolute;
    cursor: pointer;
    padding: 10px 10px 20px;
    bottom: 0;
    right: 0;
    left: 0;

}
.card-text-p{
    margin:0;
    font-size: 25px;
    font-weight: bold;
}
.card-text-h3{
    margin:5px 0px;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(138, 138, 138);
}